<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Say</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
        rel="stylesheet">

        <style>
            body {
                padding: 50px;
            }

            .pad {
                padding: 5px;
            }

        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
        <script src="client.js"></script>
    </head>

    <body ng-app="SayText">

        <div class="container"  ng-controller="SayController">
            <h4>Say it!</h4>
            <div class="row">
                <div class="col-md-6 pad"><input class="form-control" type="text" ng-model="saytext" ng-keypress="keyPress($event)"></input></div>
                <div class="col-md-1 pad"><button class="btn btn-primary" ng-click="doSay(saytext)">Say</button></div>
            </div>
            <br>
            <div class="row" ng-repeat="h in sayhistory">
                <div class="col-md-1 pad"><button class="bth btn-primary" ng-click="say(h.url)">Say</button></div>
                <div class="col-md-6 pad">{{h.text}}</div>
            </div> 
        </div>

        <audio preload="none" id="say_snd" src="say" type="audio/mpeg"></audio>
    </body>
</html>